<table mat-table [dataSource]="forms">
  <ng-container matColumnDef="label">
    <th mat-header-cell *matHeaderCellDef>Etiket</th>
    <td mat-cell *matCellDef="let form">{{ form.label }}</td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>İşlemler</th>
    <td mat-cell *matCellDef="let form">
      <button mat-button (click)="fillForm(form)">Doldur</button>
      <button mat-button (click)="editForm(form)">Düzenle</button>
      <button mat-button (click)="deleteForm(form)">Sil</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['label', 'actions']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['label', 'actions']"></tr>
</table>
