:host {
  display: flex;
  align-items: flex-start;
  margin-left: 15px;
  margin-top: 20px;
}
.field-container {
  margin-bottom: 10px;
}
.field-type{
  margin-left: 10px;
}
button{
  margin: 5px;
}
